@REM {{ joinPath .chezmoi.homeDir ".config/ui_fraunces.reg" | include | sha256sum }}

@gsudo status IsElevated --no-output || (gsudo "%~f0" & exit /b)
reg import "%USERPROFILE%\.config\ui_fraunces.reg"
